html,
body {
  /* height: 32vh; */
  /* width: 25vw; */
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  /* width: 25vw; */
  /* height: 32vh;
  position: absolute;
  left: 0;
  top: 40%; */
  width: 100vw;
  height: 100vh;
}